// collapse the outside gutter
$grid-collapse-gutters: true !global;

// show the visual grid
$grid-show-visual: true !global;

// show the grid on gutters instead of columns
$grid-visual-gutters: false !global;

.grid_container--nogutter {
  @include grid-container__nogutter;
}

.grid_wrapper--nogutter {
  @include grid-wrapper__nogutter;
}

$grid--rtl: (
  direction: rtl,
);

.grid {
  @include grid-container;
}

.grid__column {
  @include grid-column(1);
}

.grid__column--thirds {
  @include grid-column(4);
}

.grid--rtl__column--thirds {
  @include grid-column(4, $grid--rtl);
}

.grid__column--4 {
  @include grid-column(4);
}

.grid__column--8 {
  @include grid-column(8);
}

.grid__column--full {
  @include grid-column(12);
}

.grid__column--3-of-5 {
  @include grid-column(3 of 5);
}

.grid__column--2-of-5 {
  @include grid-column(2 of 5);
}
